#wrapper-navbar::before {
    @extend .bg-gradient;
    content: '';
    display: block;
    height: 1rem;
}

.navbar-brand {
    width: 14rem;
}

@include media-breakpoint-down(md) {
    #navbarNavDropdown {
        position: absolute;
        background-color: $white;
        width: 100%;
        top: 124px;
        left: 0px;
        padding: 1rem;
    }
}
